html, body {
  height: 95%;
}

body {
	margin-top: 70px;
  background-color: #eeeeee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

header.header-color {
	background-color: #fff176;
}

.wrap {
  min-height: 100%;
}

footer {
  background-color: #707070;
  color: white;
  text-align: center;
  height: 30px;
}

.item-text {
  padding-left:2em
}

.edit-zoom {
  color: #007bff;
}

.panel .glyphicon,.list-group-item .glyphicon {
  margin-right: 10px;
}

.list-group-item:hover {
  text-decoration: none;
  background-color: rgb(245, 245, 245);
}

.list-group-item-static {
  color: #dc3545;
}

.item-link {
  color: #333;
  text-decoration: none;
}

.item-link:hover {
  color: black;
  text-decoration: none;
}

.btn-outline-danger {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

.btn-outline-primary, .btn-outline-primary a {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

.btn-outline-primary:hover, .btn-outline-primary:hover a {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  text-decoration: none;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #007bff;
  background-color: transparent;
}

.btn-outline-primary:not([disabled]):not(.disabled):active, .btn-outline-primary:not([disabled]):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #dc3545;
  background-color: transparent;
}

.btn-outline-danger:not([disabled]):not(.disabled):active, .btn-outline-danger:not([disabled]):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #212529;
  background-color: #dc3545;
  border-color: #dc3545;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
